.resultsContainer {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
}
@media (min-width: 425px) {
  .resultsContainer {
    padding: 2rem;
  }
}

.resultsHeading {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.results {
  display: flex;
  justify-content: space-between;
}

.temperature {
  margin: 0;
  font-size: 3.5rem;
  font-weight: bold;
  color: #6642af;
}
@media (min-width: 768px) {
  .temperature {
    font-size: 6rem;
  }
}

.temperatureRange {
  margin: 0;
}

.location {
  margin: 0.5rem 0 0 0;
  color: #666666;
  font-weight: bold;
}

.addtionalInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.details {
  text-align: right;
  color: #666666;
}
@media (min-width: 768px) {
  .details {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
  }
}

.weatherImage {
  width: 150px;
  height: 150px;
  margin-top: -6rem;
}
@media (min-width: 768px) {
  .weatherImage {
    width: 270px;
    height: 270px;
    margin-top: -8.5rem;
  }
}

.title {
  margin: 0.25rem;
}

.description {
  margin: 0.25rem;
}

.humidity {
  margin: 0.25rem;
}

.datetime {
  margin: 0.25rem;
}
